<%= turbo_stream.replace "#{dom_id(@story)}_comments" do %>
  <%= turbo_frame_tag "#{dom_id(@story)}_comments" do %>
    <%= link_to "| comments: #{@story.comments.count}", story_comments_path(@story), data: {turbo_stream: true} %>
  <% end %>
    <div id="<%= "#{dom_id(@story)}_comments_container" %>" data-controller="collapsibility">
        <button id="<%= "collapse_story_#{@story_id}_comments" %>" data-action="click->collapsibility#toggleComments">
          Collapse
        </button>
        <div data-collapsibility-target="collapsible">
          <ul id="<%= "#{dom_id(@story)}_comments_list" %>" class="ml-4 px-2 py-2">
            <%= render @comments %>
          </ul>
        </div>
    </div>
<% end %>