<li id="<%= "#{dom_id(story)}_container" %>" class="py-2 px-4 border-b border-gray-300">
  <%= turbo_frame_tag dom_id(story) do  %>
    <div class="flex flex-col items-center">
        <span class="border-b border-gray-300 font-black"><%= story.title %></span>
        <span class="mt-2 text-md"><%= story.text %></span>
        <div class="flex justify-between items-center">
          <span class="mt-2 text-xs font-grey">
            by <%= story.by %> | 
            posted at <%= story.posted_at.localtime.strftime("%A,%e %B %Y, %I %p %Z") %> 
            | HackerNews Score: <%= story.score %>
            <%= turbo_frame_tag "#{dom_id(story)}_comments" do %>
              <%= link_to "| comments: #{story.comments.count}", story_comments_path(story), data: {turbo_stream: true} %>
            <% end %>
          </span>
        </div>
    </div>
  <% end %>
</li>